
body {
  text-align: center;
  font-size: 3em;
  /*Color hexadecimal de LABORATORIA*/
  background-color: #FFC107;
}
header {
  padding: 0;
  margin-top: 0;
   background-color: white;
}
button {
  color: white;
  background-color: black;
  border-color: black;

}
Sedes {

}
